* {
  padding: 0;
  /* margin: 0; */
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

form #email{
  /* border: none; */
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  padding:  5px;

}
section{
    padding-bottom: 10px;
}
.btn input{
  padding: 7px 15px;
  margin-top: 10px;
  border-radius: 4px;
  color: red;
  cursor: pointer;
  border: 1px solid #ff416c;
  background-color: #fff;
}
